<div class='menu-widget-box'>
  <%= widget_header widget %>
  <p><%= t('ubiquo.widgets.menu_widget.edit.info') %></p>
  <%= widget_form(page, widget) do |f| %>
    <%= render '/widgets/menu_widget/ubiquo/form', :f => f, :widget => widget %>
  <% end %>
  <%= render '/widgets/menu_widget/ubiquo/bottom', :widget => widget %>  
</div>
