<h1><%= render :partial => 'title' %></h1>
<h2>
  <%= render :partial => "submenu" %>
</h2>
<%= render(:partial => "shared/ubiquo/feedback") %>

<%= show_preview(Menu) do |menu| %>
  <%= render :partial => 'menu', :object => menu %>
<% end %>

<%= ubiquo_form_for(@menu, :url => ubiquo.menu_path(@menu)) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <div class="form-item-submit">
    <%= form.submit t('ubiquo.save'), :class => 'bt-update' %>
    <%= create_and_continue_button(form) %>
    <%= button_to_function t('ubiquo.back_to_list'), "document.location.href='#{ubiquo.menus_path}'", :class => 'bt-back' %>
  </div>
<% end %>
<div class="menu_items_form_box">
  <%= render('/ubiquo/menu_items/index',
                          :items      => @menu.root_menu_items,
                          :menu_id    => @menu.id) %>
</div>

<%= content_for :sidebar do %>
  <%= uhook_edit_menu_sidebar @menu %>
  <%= help_block_sidebar(t("ubiquo.menu.edit.help_message")) %>
<% end %>
