
  <%- if options[:translatable] -%>
  <%%= form.hidden_field :content_id %>
  <%- end -%>
<% for attribute in attributes -%>
<% if attribute.field_type.to_s == "date_select" || attribute.field_type.to_s == "datetime_select" -%>
  <div class="datetime form-item">
<% else -%>
  <div class="form-item<%= '-inline' if attribute.field_type.to_s == 'check_box' -%>">
<% end -%>
    <%%= form.label :<%= attribute.name %>, <%= class_name %>.human_attribute_name("<%= attribute.name %>") %>
    <%%= form.<%= attribute.field_type %> :<%= attribute.name %><%= ", :class => 'visual_editor'" if attribute.field_type.to_s == "text_area" %>  %>
  </div>
<% end -%>


<%- if options[:belongs_to] || options[:has_many] -%>
<fieldset>
  <legend><%= 'Belongs to' %></legend>
  <%- if options[:belongs_to] -%>
    <%- options[:belongs_to].each do |bt| -%>
      <%%= form.relation_selector :<%= bt %>, :type => :select %>
    <%- end -%>
  <%- end -%>
  <%- if options[:has_many] %>
    <%- options[:has_many].each do |bt| -%>
      <%%= form.relation_selector :<%= bt.pluralize %>, :type => :checkbox %>
    <%- end -%>
  <%- end -%>
</fieldset>
<%- end -%>

<%- if options[:media] -%>
<fieldset>
	<legend><%= 'Media selector' %></legend>
  <%- options[:media].each do |bt| -%>
    <%%= media_selector form, :<%= bt %>, :visibility => 'public' %>
  <%- end -%>
</fieldset>
<%- end -%>

<%- if options[:categorized] -%>
<fieldset>
	<legend><%= 'Categories' %></legend>
  <%- options[:categorized].each do |bt| -%>
    <%%= form.category_selector :<%= bt %> %>
  <%- end -%>
</fieldset>
<%- end -%>
