<h1><%%= render :partial => 'title' %></h1>
<h2>
  <%%= render :partial => "submenu" %>
</h2>
<%%= error_messages_for '<%= singular_name %>' %>

<%% show_preview(<%= class_name %><%= options[:versionable] ? ", :version => :all" : "" %>) do |<%= singular_name %>| %>
  <%%= render :partial => '<%= singular_name %>', :object => <%= singular_name %> %>
<%% end %>

<%% form_for([:ubiquo, @<%= singular_name %>]) do |form| %>
  <%%= render :partial => 'form', :locals => {:form => form} %>
    <div class="form-item-submit">
      <%%= form.submit t('ubiquo.save'), :class => 'bt-update' %>
      <%%= button_to_function t('ubiquo.back_to_list'), "document.location.href='#{ubiquo_<%= plural_name %>_path}'", :class => 'bt-back' %>
    </div>
<%% end %>

<%% content_for :sidebar do %>
  <%- if options[:translatable] -%>
  <%%= show_translations(@<%= singular_name %>) %>
  <%- end -%>
  <%- if options[:versionable] -%>
  <%%= show_versions(@<%= singular_name %>) %>
  <%- end -%>
  <%%= help_block_sidebar(t("ubiquo.<%= singular_name %>.edit.help_message")) %>
<%% end %>
