<h1><%%= render :partial => 'title' %></h1>
<h2>
  <%%= render :partial => 'submenu' %>
</h2>
<%%= render :partial => "shared/ubiquo/feedback" %>

<%%= link_to t("ubiquo.<%= singular_name %>.index.new"), new_ubiquo_<%= singular_name %>_path, :class => "new" %>
<div style="clear:both"></div>
<%%= <%= singular_name %>_filters_info(params) %>

<%%= render(:partial => "shared/ubiquo/list", :locals=>{
        :name=>'<%= singular_name%>',
        :headers=>[<%= attributes.collect{|at| ":#{at.name}"}.join(", ") %>],
        :rows=>@<%= plural_name%>.collect{|<%= singular_name%>| 
          {
            :id=><%= singular_name%>.id, 
            :columns=>[<%- attributes.each do |at| %>
              <%= "#{singular_name}.#{at.name}," -%>
              <%- end %>
            ],
            :actions=>[
              <%- edit_link = %{link_to(t("ubiquo.edit"), [:edit, :ubiquo, #{singular_name}])} -%>
              <%- translate_link = %{link_to(t("ubiquo.translate"), new_ubiquo_#{singular_name}_path(:locale => Locale.current, :from => #{singular_name}.content_id ))} -%>
              <%- if options[:translatable] -%>
              if <%= singular_name%>.locale == Locale.current
                <%= edit_link %>
              elsif <%= singular_name%>_cur_locale = <%= singular_name%>.translations.find_by_locale(Locale.current)
                link_to(t("ubiquo.translate"), [:edit, :ubiquo, <%= singular_name%>_cur_locale])
              else
                link_to(t("ubiquo.translate"), new_ubiquo_<%= singular_name %>_path(:locale => Locale.current, :from => <%= singular_name %>.content_id, :preview_id => <%= singular_name %>.id))
              end,
              <%- else -%>
              <%= edit_link %>,
              <%- end -%>
              link_to(t("ubiquo.remove"), [:ubiquo, <%= singular_name%>], :confirm => t("ubiquo.<%= singular_name %>.index.confirm_removal"), :method => :delete)
            ]
          }
        },
        :pages=>@<%= plural_name%>_pages
      }      
) %>


<%% content_for :sidebar do %>
  <%%= <%= singular_name %>_filters %>

  <h3><%%= t("ubiquo.help") %></h3>
  <p><%%= t("ubiquo.<%= singular_name %>.index.help_message") %></p>
<%% end %>
